form {
    width: 300px;
    min-height: 350px;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    height: 700px;
}

.buttom-confirm:hover {
    background-color: #2d2121;
}