form {
    width: 300px;
    min-height: 350px;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    height: 700px;
}

.button-log:active,
.button-confirm:active {
    background-color: #d3d3d3;
}